/* css styles */
.nav-footer .nav-footer-center {
    font-size: .75em;
}

img.about-image.rounded  {
filter: drop-shadow(0 0 0.75rem #A9D3FF);
}

.dropcap {
float: left;
line-height: 100%;
padding: 0 .3rem;
margin: 0 .3rem 0 0;
color: #96C5F7;
font-size: 4rem;
font-family: georgia;
}

html,
body {
  margin: 0;
  padding: 0;
}

.background {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a9d3ff' fill-opacity='0.3' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}                                                                                                                                                                                                                                                                                                                               